<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100412533893-418qeouat0r1g7cn780flp6uc3dn9kfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100412533893-418qeouat0r1g7cn780flp6uc3dn9kfu</string>
	<key>API_KEY</key>
	<string>AIzaSyCp2qDV_P8Wwg0KqlKItabKrFIgYdmXT9o</string>
	<key>GCM_SENDER_ID</key>
	<string>100412533893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfolder</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-86834</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-86834.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100412533893:ios:1aee84d10475499e6b4dec</string>
</dict>
</plist>